services:
  photosorter:
    image: golfhou/photosorter:latest
    container_name: photosorter
    volumes:
      # Mount your main photos directory here.
      # This example maps '/path/on/your/host' to '/media' inside the container.
      - /path/on/your/host:/media
    environment:
      # Directory for sorted photos (e.g., /media/ALL_PHOTOS/2025/11)
      - OUTPUT_DIR=/media/ALL_PHOTOS
      # Directory to watch for new files to sort
      - INPUT_DIR=/media/new_uploads
      # Optional: Directory for files that fail to sort
      - FAILED_DIR=/media/ALL_PHOTOS/failed_sort
      # Optional: Directory for duplicate files
      - DUPLICATE_DIR=/media/ALL_PHOTOS/duplicates
    restart: unless-stopped
